<p id="notice"><%= notice %></p>
<%= link_to 'Back', users_path %> <% if session["user_id"] == @user.id or session["user_id"] == 1 %>|
<%= link_to 'Edit info', edit_user_path(@user) %><%end%>

<h3><%=@user.name%></h3>

  <%= image_tag @user.image_url %><br>

<table>
  <tr>
    <th>Email:</th>
    <td><%= @user.email %><br></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td><%= @user.description %></td>
  </tr>
  <tr>
    <th>Sign up date:</th>
    <td><%= @user.created_at.strftime("%d %b %Y") %></td>
  </tr>
</table>
</br>


<h4> Songs added by <%=@user.name%> </h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= link_to "view", s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
</br>

<h4> Albums added by <%=@user.name%> </h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= link_to "view", a %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
</br>

<h4> Artists added by <%=@user.name%> </h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= link_to "view", a %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
</br>

<h4> Playlists created by <%=@user.name%> </h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |p| %>
      <% if p.public or p.user_id == session["user_id"] or session["user_id"] == 1%>
        <tr>
          <td><%= p.name %></td>
          <td><%= link_to "view", p %></td>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

</br>
</br>
<h4> Favorite Songs </h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.favoritesongs.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= link_to "unfavorite", favorite_song_path(iden: f.id, type: "unfavorite"), method: :put %></td>
        <td><%= link_to "view", f %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
</br>
<h4> Favorite Albums </h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.favoritealbums.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= link_to "unfavorite", favorite_album_path(iden: f.id, type: "unfavorite"), method: :put %></td>
        <td><%= link_to "view", f %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
</br>
<h4> Favorite Artists </h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.favoriteartists.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= link_to "unfavorite", favorite_artist_path(iden: f.id, type: "unfavorite"), method: :put %></td>
        <td><%= link_to "view", f %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</br>
</br>
<h4> Favorite Playlists </h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.favoriteplaylists.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= link_to "unfavorite", favorite_playlist_path(iden: f.id, type: "unfavorite"), method: :put %></td>
        <td><%= link_to "view", f %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- </br>
</br>
<h4>Following</h4>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.name %>
      | <%= link_to "view", friendship.friend %> | <%= link_to "remove", friendship, :method => :delete %>
    </li>
  <% end %>
</ul> -->

</br>
<h4>Following</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.friendships.each do |f| %>
      <tr>
        <td><%= f.friend.name %></td>
        <td><%= link_to "view", f.friend %></td>
        <td><%= link_to "remove", f, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- </br>
</br>
<h4>Followed by</h4>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.name %> | <%= link_to "view", user %></li> 
  <% end %>
</ul>
 -->

 </br>
<h4>Followed by</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.inverse_friends.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= link_to "view", f %></td>
      </tr>
    <% end %>
  </tbody>
</table>
